
{% extends 'base_2.html' %}

{% block content %}



<body>
<br>
<div class="ro">
<div class="container">

<div class="container col-md-4 offset-ms-4">
	<form method="POST">
	{% csrf_token %} 
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Ввеадите имя пользователя" name="username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Введите пароль" name="password">
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-dark btn-lg">Войти</button>
		</div>
	</form>

<p> Нет учетной записи? </p>
<a href="{% url 'signup' %}">Зарегистрироваться</a>
</div>
</div>
</div>
<style>
.ro {
  min-height: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  color: #000;
  background-color: #fff; // цвет фона

}
</style>

{% endblock content %}